// Table of Contents
//
// 1 Pattern outline
// 2 Imports
// 3 TBD

// 1 Pattern outline
// =============================================================================

// .badge

// 2 Imports
// =============================================================================

@import '~sass-rem';
@import '../../../core/src/ts/namespace.ts';
@import '../../../core/src/ts/tokens.ts';

// 3 TBD
// =============================================================================

.#{$ns}-badge {
  background-color: $color-hurricane-transparent;
  border-radius: rem(12px);
  color: $color-blizzard;
  display: inline-block;
  font-size: rem(11px);
  font-weight: 700;
  height: $space-l;
  line-height: $space-m;
  min-width: $space-xs;
  padding-left: $space-xs;
  padding-right: $space-xs;
  text-align: center;
  user-select: none;
}

.#{$ns}-badge--error {
  background-color: $color-cinnabar;
}

.#{$ns}-badge--success {
  background-color: $color-christi;
}
