// @import 'functions';
@import '../js/tokens.js';
// @import 'mixins';

body {
  background-color: $color-brand-primary;
  display: flex;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  margin: 0;
  padding: 0;
}
